body {
	padding-left: 5vw;
	padding: 0;
	margin: 0;
	height: 100vh;

}

.page-container {
	min-height:100%;
	position:relative;
 }
 #content-body {
	padding:10px;
	padding-bottom:60px; 
	margin-top: 8vh; 
 }






/* Header formation */
.header {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 90%;
	border-bottom: solid 3px black;
	margin-left: 5vw;
	background-color: white;

}
.header-name {
	font-size: 30px;
	font-weight: bold;
}
.header-btns{
	position:absolute; 
	top:3vh; 
	right:10vh;
}

/* product box formation */
.products-box {
	margin-left: 8vh;
	margin-top: 4vh;
	border: black 3px solid;
	height: 20%;
	width: 18%;
	text-align: center;
	display: inline-block;
}

.delete-checkbox{
	margin-left: 0;
	width: 18%;
}
.product-info{
	margin-bottom:10px;
}
/* Footer formation */
.footer {
	position: fixed;
	bottom: 0;
	left: 5%;
	right: 5%;
	height: 8vh;
	border-top: 3px solid black;
	background-color: white;
	
}

#footer-text {
	text-align: center;
}

.product-add-buttons,#add-product-btn, #delete-product-btn {
	background-color: inherit;
	border: solid black 2px;
	color: black;
	height: 30px;
	width: 100px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
}

#delete-product-btn {
	width: 150px !important;
}
/*-------------------------------------------------------*/
#save {
    border: solid black 3px;
	margin-left: 5vh;
	margin-right: 5vh;
	margin-top: 15vh;
}
/*Form */
form {
    margin-left:5vw;
    padding:20px;
}
.product-form {
    margin-top:10px;
    width:60%;
	display: table 
}
label, input {
    flex-basis:100px;

}
input{
	margin-top: 1vh;
}

.product-info-input {
	margin-top: 1vh;
	margin-bottom: 1vh;
	vertical-align: top;
}
/* Hides all input forms*/
.product-info-specifics{
	display: none;
}


/*   Aligns the input elements  */
div.form-container {
	width: 80vh;
	padding: 15px;
	margin-left:5vh;
	overflow: hidden;
	margin-top: 10vh;
  }

div.form-container span.label-holder {
	display: block;
	width: calc(25% - 10px);
	float: left;
	padding: 5px;
  }
  
  div.form-container span.input-holder {
	display: block;
	width: calc(75% - 10px);
	float: left;
	padding: 5px;
  }
  div.container span.input-holder input[type="text"]{
	width: 100%;
  }
